body {
	/* see: http:cssfontstack.com/Palatino */
	font-family: P052, Palatino, Palatino Linotype, Palatino LT STD, Book Antiqua, Georgia, serif;
}

body > .index {
	> .subtitle {
		order: 0;
	}

	@media screen {
		> .subtitle {
			font-size: @font-size-2;
			line-height: @line-height-2;
			padding-left: 0;
		}

		> .subtitle:not(:empty) + p,
		> .subtitle:not(:empty) + .either {
			display: none;
		}
	}
}

.page > .index a {
	position: relative;
	top: (1rem - (1rem / @ratio));
}

.nutrition ul li sub {
	position: relative;
	bottom: 0.25rem;
}

@media screen {
	body.highlighting.highlighting-active {
		p,
		li,
		em {
			color: fade(@foreground-colour, 20%);
		}
	}
}
